<div class="link-wrapper">
  <style scoped>
    ul.link a {
      color:var(--clr-h1-and-bold);
      text-decoration:none;
    }

    ul.link a:hover, a:focus {
      color: var(--clr-a-text-hvr);
    }
  </style>
  <ul class="link" style="list-style-type:none;" align = "left">
    <li><a href="https://github.com/fahnucc" rel="author"><i class="fab fa-github"></i> GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/fahri-eskici/" rel="external"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
    <li><a href="/cv.pdf"><i class="far fa-bookmark"></i> CV</a></li>
  </ul>
</div>
